<!DOCTYPE html>
<html>
<head>
  <title>Buy/Sell</title>
</head>
<body>
  <h1>
    This is my ecommerec site here we will sell and buy anything
    I plan to make this a easy and great experience for the user
    We will sell name brands as well as second hand goods
    Tryna be a second amazon.
    A1 Responsive experience.

  </h1>
  <h2>
    Need to design.
    Shop or Sell
    if shop then Categories ?
    if sell then log in - then upload item etc.
    For selling use idea of between these two prices
    (possibly added feature if something wont sell).
    Need to create a landing page first.
  </h2>
</body>
</html>
